.card-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.card-list-title {
    text-align: center;
    color: white;
    font-size: 48px;
    font-weight: bolder;
}