.card-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.card-list-title {
    text-align: center;
    color: black;
    font-size: 32px;
    font-weight: bolder;
    text-decoration: underline;
}